---
import Layout from '@layouts/Global.astro';

import { slugify, getPosts } from "@utils";

const allPosts = await getPosts();
const latestPosts = allPosts.slice(0, 5);
---

<Layout title="Blog" desc="A collection of palatable blog posts related to tech and cybersecurity">
    <div class="flex-center">
        <h3>Latest Posts</h3>
    </div>
    <div class="posts" id="latest-posts">
        {latestPosts.map(post => (
            <div class="post">
                <a href={`/blog/${post.data.slug || slugify(post.data.title)}/`}>{post.data.title}</a>
                <span class="date">{post.data.date.toLocaleString("en-US", { year: 'numeric', month: 'short', day: 'numeric' })}</span>
            </div>
        ))}
    </div>
</Layout>

<style lang="scss">
    .posts {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .date {
        min-width: 120px;
        text-align: right;
    }

    @media screen and (max-width: 550px) {
        .post {
            flex-wrap: wrap;
            &:not(:last-child)::after {
                content: "";
                border-top: 1px solid var(--foreground);
                flex-basis: 100%;
                order: 1;
            }
        }

        .date {
            flex-basis: 100%;
            text-align: left;
        }
    }

    .post {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
</style>