---
import Layout from '@layouts/Global.astro';

import { Icon } from 'astro-icon/components';
---

<Layout title="nick's brew" desc="Homepage" class="flex-center flex-grow">
    <p>Hey! This is my small website. I'm a cybersecurity enthusiast and coffee lover.</p>
    <br>
    <a href="/hello">learn about me</a>
</Layout>