---
interface Props {
    fixed?: boolean;
    noIcons?: boolean;
}

import { Icon } from 'astro-icon/components';

const today = new Date();
const {
    fixed = false,
    noIcons = false
} = Astro.props;
---

<footer class={fixed ? 'fixed' : ''}>
	<p>&copy; {today.getFullYear()} Nicholas Hardenburgh. All rights reserved.</p>
    <div class="quick-links">
        <a href="https://github.com/reversed-coffee">
            <Icon name="github" size="1.5rem" />
        </a>
        <a href="https://www.linkedin.com/in/nicholas-hardenburgh">
            <Icon name="linkedin" size="1.5rem" />
        </a>
        <a href="mailto:nick@reversed.coffee">
            <Icon name="mail" size="1.5rem" />
        </a>
    </div>
</footer>

<style lang="scss" define:vars={{ iconDisplay: noIcons ? 'none' : 'flex' }}>
    footer {
        text-align: center;
        overflow-wrap: break-word;
        margin: 1rem;

        &.fixed {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background: var(--background);
            color: var(--foreground);
        }
    }

    .quick-links {
        display: var(--iconDisplay); // 'none' or 'flex'
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    a {
        color: var(--foreground);
        &:hover {
            color: var(--accent);
        }
    }

    p {
        margin: 0;
    }
</style>