---
import { Icon } from "astro-icon/components"
---

<header>
    <nav>
        <h3 id="toggle-theme" class="nohover">
            <Icon class="hidden" name="moon" size="1.5rem" color="#56B3BF" />
            <Icon class="hidden" name="sun" size="1.5rem" color="#F9A825" />
        </h3>
        <h3>nick's brew</h3>
        <h3 class="hamburger">&#9776;</h3>
        <div class="nav-content">
            <h3><a href="/">home</a></h3>
            <h3><a href="/blog">blog</a></h3>
            <h3><a href="/projects">projects</a></h3>
        </div>
    </nav>
    <hr>
</header>

<script>
    const themeToggle = document.querySelector('#toggle-theme') as HTMLInputElement;

    const themeMap = {
        dark: 'svg[data-icon="moon"]',
        light: 'svg[data-icon="sun"]'
    };

    // Set the theme based on the user's preference
    const theme = localStorage.getItem('theme') || 'light';
    document.documentElement.setAttribute('data-theme', theme);

    // Set the icon based on the theme
    themeToggle.querySelector(themeMap[theme])!.classList.remove('hidden');

    // Toggle the theme
    themeToggle.addEventListener('click', () => {
        const currentTheme = document.documentElement.getAttribute('data-theme')!;
        const newTheme = currentTheme === 'dark' ? 'light' : 'dark';

        // Set setting locally
        localStorage.setItem('theme', newTheme);

        // Update the theme
        document.body.classList.add('theme-transition');
        document.documentElement.setAttribute('data-theme', newTheme);

        setTimeout(() => document.body.classList.remove('theme-transition'), 500);

        // Update the icon
        themeToggle.querySelector(themeMap[currentTheme]).classList.add('hidden');
        themeToggle.querySelector(themeMap[newTheme])!.classList.remove('hidden');
    });

    // Remove the nohover class on first hover
    // Prevents playing the animation on page load
    themeToggle.addEventListener('mouseleave', function removeNohover() {
        themeToggle.removeEventListener('mouseleave', removeNohover);
        themeToggle.classList.remove('nohover');
    });
</script>

<style lang="scss">
    @keyframes theme-toggle-hover {
        0% {
            transform: scale(1) rotate(0deg);
        }
        100% {
            transform: scale(1.25) rotate(15deg);
        }
    }

    @keyframes theme-toggle-base {
        0% {
            transform: scale(1.25) rotate(15deg);
        }
        100% {
            transform: scale(1) rotate(0deg);
        }
    }

    #toggle-theme {
        display: inline-flex;
        align-items: center;
        margin-right: 0.5rem;
        cursor: pointer;

        svg:hover {
            transform: scale(1.25) rotate(15deg);
            animation: theme-toggle-hover 0.2s;
        }
    }

    #toggle-theme:not(.nohover) {
        svg:not(:hover) {
            animation: theme-toggle-base 0.2s;
            vertical-align: middle;
        }
    }
</style>


<style lang="scss">
    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        line-height: 1rem;

        // Site title
        h3:nth-child(2) {
            flex-grow: 1;
        }

        h3 {
            font-size: 1.5rem;
        }

        .hamburger {
            display: none;
            cursor: pointer;
        }

        .nav-content {
            display: flex;
            align-items: center;
            gap: 1rem;

            > h3 {
                margin: 0;
                font-size: 1.25rem;
            }
        }
    }

    /* Mobile view adjustments */
    @media screen and (max-width: 600px) {
        nav {
            .hamburger {
                display: inline-flex;
            }

            .nav-content {
                display: none;
                width: 100%;
            }

            .nav-content.active {
                display: flex;
                flex-direction: column;
            }
        }
    }

    a {
        color: var(--foreground);
        text-decoration: none;

        &:hover {
            color: var(--accent);
            text-decoration: underline;
        }
    }
</style>

<script>
    document.querySelector('.hamburger')!.addEventListener('click', () => {
        document.querySelector('.nav-content')!.classList.toggle('active');
    });
</script>
